<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientsCount" value="2" />
    <add key="ActiveReplicasCount" value="4" />
    <add key="PassiveReplicasCount" value="4" />
    <add key="FaultyReplicasCount" value="2" />
    <add key="MinNetworkLatency" value="0" />
    <add key="MaxNetworkLatency" value="1" />
    <add key="MinTimeToAddBlockIntoBlockchain" value="0" />
    <add key="MaxTimeToAddBlockIntoBlockchain" value="1" />
    <add key="MinTransactionsCountInBlock" value="100" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>